version: "3.7"

services:
  server:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - ENV=${ENV}
    image: aws-test-ec2-api-image
    container_name: aws-test-ec2-api-container
    command: npm run start:prod:${ENV}
    environment:
      - ENV=${ENV}
    volumes:
      - /usr/src/app/node_modules
      - /home/ubuntu/github-runners/api-runner/_work/aws-testing-backend-api/aws-testing-backend-api/src/helpers/logs:/app/logs

    ports:
      - "3225:3200"